.header-container {
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    border: 2px red solid;
}

.header-text-button-container {
    display: flex;
    align-items: center;

}
.header-text {
    margin-right: 5px;
}



