.courses {
    display: flex;
    flex-direction: column;
    border: 2px blueviolet solid;
}

.courses-top {
    display: flex;
    justify-content: space-between;
    justify-self: center;
    align-items: center ;
    margin-bottom: 1rem;
}

.courses-top > * {
    margin-right: 1rem;
}

.courses-list {
    display: flex;
    flex-direction: column;
}
